name: test-format-verify

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    name: Build and test
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14' # Define the node version [required]
    - name: Install dependencies
      run: npm install
    # - name: Check formatting
    #   run: mix format --check-formatted
    # - name: Static code analysis
    #   run: mix credo -a
    - name: Run tests
      run: npm run test
    - name: Check coverage
      run: npm run cover
    # - name: Archive code coverage results
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: code-coverage-report
    #     path: cover/excoveralls.html
